In [1]:
import numpy as np
import pandas as pd

In [9]:

df = pd.read_csv('annual-enterprise-survey-2019-financial-year-provisional-csv.csv')
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119"
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119"
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119"
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119"
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119"

In [10]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
df

[                             Bank Name           City  ST   CERT  \
 0    The First State Bank               Barboursville  WV  14361
 1    Ericson State Bank                 Ericson        NE  18265
 2    City National Bank of New Jersey   Newark         NJ  21111
 3    Resolute Bank                      Maumee         OH  58317
 4    Louisa Community Bank              Louisa         KY  58112
 ..                     ...                 ...         ..    ...
 556  Superior Bank, FSB                 Hinsdale       IL  32646
 557  Malta National Bank                Malta          OH  6629
 558  First Alliance Bank & Trust Co.    Manchester     NH  34264
 559  National State Bank of Metropolis  Metropolis     IL  3815
 560  Bank of Honolulu                   Honolulu       HI  21029

                    Acquiring Institution       Closing Date
 0    MVB Bank, Inc.                       April 3, 2020
 1    Farmers and Merchants Bank           February 14, 2020
 2    Industrial Bank                      November 1, 2019
 3    Buckeye State Bank                   October 25, 2019
 4    Kentucky Farmers Bank Corporation    October 25, 2019
 ..                                 ...                 ...
 556  Superior Federal, FSB                July 27, 2001
 557  North Valley Bank                    May 3, 2001
 558  Southern New Hampshire Bank & Trust  February 2, 2001
 559  Banterra Bank of Marion              December 14, 2000
 560  Bank of the Orient                   October 13, 2000

 [561 rows x 6 columns]]

In [15]:
df[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...,...
556,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
557,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
558,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
559,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
560,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"